/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* Default Page Settings */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* Section Settings */

.section {
}

.wrapper {
    min-height: 100vh;

}

.Site-content {

}

a {
    color: black;
    text-decoration: none;
}

/* Header */
.page-header, .page-footer {

}

.header-section {

}

/* Logo */

#site-logo {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

#lbg-logo {
    border-radius: 50%;
    width: 10%;
    border: solid 1px green;
    padding: 1%;

}

.site-title {
    text-align: center;
}

/* Navigation */

/* Style the navbar */
#site-navbar {
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
}
  
/* Navbar links */
#site-navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
  
/* Page content */
.page-content {
    padding: 16px;
}
  
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .page-content {
    padding-top: 60px;
}

/* Content */

/* Footer */
.social-icons, .copyright {
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-content: space-between;
}

/* Social Links */
.fa-brands, .fab {
    margin: 10px;
    font-size: 20px;
}